@model SubEditAddDTO
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = "_LayoutMedAnalysis";
}
<div class="container pt-2">
    <h1 class="mt-4">Add Sub Analysis to : @ViewBag.CurrentName</h1>
    <form method="post" asp-action="AddSubAnalysis" id="myForm">
        <div class="border p-3 mt-4">
            <input asp-for="MainCode" type="hidden" value="@ViewBag.maincode" />
            <div asp-validation-summary="ModelOnly"></div>
            <div class="parent d-flex align-items-md-end justify-content-center  my-mobile ">
                <div class="mb-3 me-md-4">
                    <label asp-for="SubCode">sub code</label>
                    <input asp-for="SubCode" class="form-control" value="@ViewBag.subcode" />
                    <span asp-validation-for="SubCode" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="MedicalFlag">MedicalFlag</label>
                    <select asp-for="MedicalFlag" class="form-control text-center">
                        <option value="2">yes</option>
                        <option selected value="1">No</option>
                    </select>
                    <span asp-validation-for="MedicalFlag" class="text-danger"></span>
                </div>
            </div>

            <!------------------------------------------------------------------------------->

            <div class="parent d-flex align-items-md-end justify-content-center  my-mobile ">
                <div class="mb-3 me-md-4">
                    <label asp-for="SubName">Name</label>
                    <input asp-for="SubName" class="form-control" />
                    <span asp-validation-for="SubName" class="text-danger"></span>
                </div>
            </div>
            <button type="submit" class="btn btn-primary" style="width:150px">
                Add
            </button>
        </div>
    </form>
</div>
