@model ChangePasswordDTO
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Change Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@inject IViewLocalizer localizer

<div class="container d-flex align-items-center flex-column">
    <form method="post" asp-action="ChangePassword" class="login-form">
        <div class="border p-3 mt-4">
            <div class="d-flex flex-column flex-md-row justify-content-between align-items-center">
                <h2 class="text-primary">@localizer["Change Password"]</h2>
            </div>

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <hr />

            <div class="mb-3">
                <label asp-for="CurrentPassword"></label>
                <div class="input-field position-relative">
                    <input asp-for="CurrentPassword" class="form-control" />
                    <i class="bx bx-hide show-hide"></i>
                </div>
                <span asp-validation-for="CurrentPassword" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="NewPassword"></label>
                <div class="input-field position-relative">
                    <input asp-for="NewPassword" class="form-control" />
                    <i class="bx bx-hide show-hide"></i>
                </div>
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="ConfirmPassword"></label>
                <div class="input-field position-relative">
                    <input asp-for="ConfirmPassword" class="form-control" />
                    <i class="bx bx-hide show-hide"></i>
                </div>
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-success" style="width:180px">@localizer["Save Changes"]</button>
        </div>
    </form>
</div>
<script>
    const eyeIcons = document.querySelectorAll(".show-hide");

    eyeIcons.forEach((eyeIcon) => {
        eyeIcon.addEventListener("click", () => {
            const pInput = eyeIcon.parentElement.querySelector("input");
            if (pInput.type === "password") {
                eyeIcon.classList.replace("bx-hide", "bx-show");
                pInput.type = "text";
                // return; OR else
            }
            else {
                eyeIcon.classList.replace("bx-show", "bx-hide");
                pInput.type = "password";
            }
        });
    });

</script>
