@model UserLoginDTO
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@inject IViewLocalizer localizer

<div class="container d-flex align-items-center justify-content-center h-100">
    <form method="post" asp-action="Login" class="login-form">
        <div class="border p-3 mt-4">
            <div class="d-flex flex-column flex-md-row justify-content-between align-items-center">
                <h2 class="text-primary">@localizer["User Login"]</h2>
            </div>
            <div class="mb-3">
                <label asp-for="UserCode"></label>
                <input asp-for="UserCode" class="form-control" />
                <span asp-validation-for="UserCode" class="text-danger"></span>
            </div>
            <div class="mb-3 ">
                <label asp-for="PassWord"></label>
                <div class="input-field position-relative">
                    <input asp-for="PassWord" class="form-control" />
                    <i class="bx bx-hide show-hide"></i>
                </div>
                <span asp-validation-for="PassWord" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <input asp-for="rememberMe" class="form-check-input" />
                <label asp-for="rememberMe"></label>
                <span asp-validation-for="rememberMe" class="text-danger"></span>
            </div>

            <div class="login-buttons d-flex justify-content-between flex-column flex-md-row gap-2">
                <button type="submit" class="btn btn-primary w-25">@localizer["Login"]</button>
@*                 <a asp-action="Register" asp-controller="Account" class="text-center lh-lg fs-5">
                Create an account
                </a> *@
            </div>
         </div>
            
    </form>

</div>
<script>
    const eyeIcons = document.querySelectorAll(".show-hide");

    eyeIcons.forEach((eyeIcon) => {
        eyeIcon.addEventListener("click", () => {
            const pInput = eyeIcon.parentElement.querySelector("input");
            if (pInput.type === "password") {
                eyeIcon.classList.replace("bx-hide", "bx-show");
                pInput.type = "text";
               // return; OR else
            }
            else
            { 
                eyeIcon.classList.replace("bx-show", "bx-hide");
                pInput.type = "password";
            }
        });
    });

</script>
@* @section Scripts {
    <partial name="_ValidationScriptsPartial.cshtml" />

}
 *@