@model TransDtlWithPriceDTO
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Edit Item For Permission";
    Layout = "_Layout";
    var isRTL = CultureInfo.CurrentCulture.Name.StartsWith("ar");

    var subItems = new SelectList(Model.SubItems, "SubId", "SubName");
    var unitCodes = new SelectList(Model.UnitCodes, "Code", "Names");
}
@inject IViewLocalizer localizer

<div class="container pt-2">
    <h1 class="mt-4">@localizer["Edit Item"]</h1>
    <form method="post" asp-action="Edit_TransDetailWithPrice">
        <div class="border p-3 mt-4">

            @* Hidden Inputs *@
            <input asp-for="Serial" type="hidden" />
            <input asp-for="TransMasterID" type="hidden" />
            <input asp-for="TransDtlId" type="hidden" />
            
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="parent-permForm d-flex align-items-md-end justify-content-between gap-md-1 my-mobile ">
                <div class="mb-3" style="width: 33%;">
                    <label asp-for="ItemMaster" class="text-center" style="width: 45%;"></label>
                    <select asp-for="ItemMaster" asp-items="subItems" class="form-control text-center" style="width: 78%;">
                    </select>
                    <span asp-validation-for="ItemMaster" class="text-danger"></span>
                </div>
                <div class="mb-3" style="width: 33%;">
                    <label asp-for="ItmBarcode" for="" class="text-center" style="width: 40%;"></label>
                    <input asp-for="ItmBarcode" class="form-control" style="width: 72%; pointer-events: none; background-color: #e9ecef" />
                    <span asp-validation-for="ItmBarcode" class="text-danger"></span>
                </div>
                <div class="mb-3" style="width: 33%;">
                    <label asp-for="UnitQty" class="text-center" style="width: 80%;"></label>
                    <input asp-for="UnitQty" type="number" class="form-control" style="width: 210px;" onchange="setTotal()" />
                    <span asp-validation-for="UnitQty" class="text-danger"></span>
                </div>
            </div>

            <!------------------------------------------------------------------------------->

            <div class="parent-permForm d-flex align-items-md-end justify-content-between gap-md-1 my-mobile ">
                <div class="mb-3" style="width: 33%">
                    <label asp-for="UnitCode" class="text-center" style="width: 45%;"></label>
                    <select asp-for="UnitCode" asp-items="unitCodes" class="form-control text-center" style="width: 78%;">
                    </select>
                    <span asp-validation-for="UnitCode" class="text-danger"></span>
                </div>
                <div class="mb-3" style="width: 33%;">
                    <label asp-for="Price" class="text-center" style="width: 40%;"></label>
                    <input asp-for="Price" type="number" class="form-control" style="width: 72%;" onchange="setTotal()" />
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
                <div class="mb-3" style="width: 33%;">
                    <div class="d-flex align-items-center">
                        <div class="d-flex align-items-center justify-content-start justify-content-md-end gap-2 @(isRTL ? "me-3" : "ms-3") mb-2">
                            @if(Model.ItmHaveTax == 1)
                            {
                            <input name="ItmHaveTax" id="ItmHaveTax" type="checkbox" value="1" checked class="form-check-input" onchange="changeValue(event)" />
                            }
                            else
                            {
                            <input name="ItmHaveTax" id="ItmHaveTax" type="checkbox" value="0" class="form-check-input" onchange="changeValue(event)" />    
                            }
                            <label asp-for="ItmHaveTax" style="width: 80%;"></label>
                        </div>
                        <span asp-validation-for="ItmHaveTax" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <!------------------------------------------------------------------------------->

            <div class="parent-permForm d-flex align-items-md-end justify-content-between gap-md-1 my-mobile ">
                <div class="mb-3" style="width: 33%">
                    <label asp-for="TaxVal" class="text-center" style="width: 45%;"></label>
                    @if (Model.ItmHaveTax != 0)
                    {
                    <input asp-for="TaxVal" type="number" class="form-control" style="width: 78%;" onchange="setTotal()" />
                    }
                    else
                    {
                    <input asp-for="TaxVal" type="number" disabled class="form-control" style="width: 78%;" onchange="setTotal()" />
                    }
                    <span asp-validation-for="TaxVal" class="text-danger"></span>
                </div>
                <div class="mb-3" style="width: 33%;">
                    <label asp-for="ExpireDate" class="text-center" style="width: 40%;"></label>
                    <input asp-for="ExpireDate" type="date" class="form-control" style="width: 72%;" />
                    <span asp-validation-for="ExpireDate" class="text-danger"></span>
                </div>
                <div class="mb-3" style="width: 33%;">
                    <label asp-for="ItemVal" for="" class="text-center" style="width: 80%;"></label>
                    <input asp-for="ItemVal" type="number" class="form-control" style="width: 210px; pointer-events: none; background-color: #e9ecef" />
                    <span asp-validation-for="ItemVal" class="text-danger"></span>
                </div>
            </div>

            <!------------------------------------------------------------------------------->

            <div class="parent d-flex justify-content-md-center gap-2">
                <button type="submit" class="btn btn-success" style="width:150px">@localizer["Save Changes"]</button>
                <a asp-controller="PermissionForm" asp-action="Index" class="btn btn-secondary" style="width:150px">
                    @localizer["Cancel"]
                </a>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    <script>
        function enableTax(ifUnderTax) {
            let tax = document.getElementById("TaxVal");
            if (ifUnderTax)
                tax.removeAttribute("disabled");
            else
                tax.setAttribute("disabled", '');
        }

        function changeValue(e) {
            let target = e.target;
            if (target.checked)
                target.value = 1;
            else
                target.value = 0;
            enableTax(target.checked);
            setTotal();
        }

        function setTotal() {
            let quantity = document.getElementById("UnitQty");
            let price = document.getElementById("Price");
            let total = document.getElementById("ItemVal");
            let underTax = document.getElementById("ItmHaveTax");

            if (underTax.checked) {
                let tax = document.getElementById("TaxVal");
                total.value = quantity.value * price.value + parseFloat(tax.value);
                return;
            }
            total.value = quantity.value * price.value;
        }
    </script>
}
