@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{

    Layout = "_LayoutAccounting";

}
@inject IViewLocalizer localizer
<div class="container pt-2 ">
    <h2 class="mt-4">@localizer["Accounts"]</h2>
</div>
