html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

/*//////////////////////////////////////////////////////////////////////////////////////////*/

/* Style for show & hide Password**/
.input-field .show-hide {
    position: absolute;
    right: 13px;
    top: 50%;
    transform: translateY(-50%); /*for make icon im middle*/
    font-size: 18px;
    color: #919191;
    cursor: pointer;
    padding: 3px;
}

    .input-field .show-hide:dir(RTL) {
        right: auto;
        left: 13px;
    }
/* End Style for show & hide Password**/

/* Style for Authentcation**/
.registerParent > div {
    width: 50%;
}

@media (max-width: 767px) {
    .my-mobile {
        flex-direction: column !important;
    }

    .reverse {
        flex-direction: column-reverse;
    }

    .registerParent > div {
        width: 100% !important;
    }

    .login-form {
        width: 100%;
    }
}

@media (min-width: 768px) {
    .login-form {
        width: 65%;
    }
}
/* End Style for Authentcation**/

/* Style for Sidebar dashboard**/
.toggler {
    display: none;
}

#mySidebar {
    width: 220px;
    /*max-height: 100%;*/
    overflow: auto;
}

    #mySidebar ul {
        font-size: 1rem;
    }

        #mySidebar ul li:hover {
            background-color: #656565 !important;
        }

.active-link {
    background-color: #656565 !important;
}

.nav-link {
    cursor: pointer;
}
/*on mySidebar nav-open*/
.nav-open {
    transform: translateX(0) !important;
}
/*on mySidebar nav-open*/
@media (max-width: 767px) {
    #mySidebar {
        position: absolute;
        z-index: 2;
        transform: translateX(-100%);
        transition: .3s;
    }

        #mySidebar:dir(RTL) {
            transform: translateX(100%);
        }

    .overlay {
        opacity: 0;
        z-index: 1;
        width: 100%;
        height: 100vh;
        pointer-events: none;
        transition: .3s;
    }

        .overlay.lay-active {
            background-color: black;
            opacity: .3;
            pointer-events: all;
        }

    .toggler {
        display: block;
    }

    .content {
        margin-left: 0;
    }

    .roleInput {
        width: 100% !important;
    }
}
/* End Style for Authentcation**/
.roleInput {
    width: 50%;
}

/* Styling role input */
.toggle-checkbox {
    -webkit-appearance: none;
    appearance: none;
    display: none;
}

.role, .trans {
    background-color: #bbb;
    min-width: 82px;
    text-align: center;
    border: 2px solid #797979;
    border-radius: 8px;
    cursor: pointer;
    transition: all .3s;
}

.toggle-checkbox:checked + label /*,
.toggle-checkbox:checked + .trans */ {
    background-color: #5959f5;
    color: white;
    border-color: blue;
    transform: scale(1.08);
}
/* Styling role input */

.parent > div {
    width: 30%;
}

@media (max-width: 767px) {
    .parent > div {
        width: 100% !important;
    }
}
/* For clicking on table row */
.active-row {
    background-color: #cdcdcd;
}
/* For clicking on table row */
/* ///////////////////////////////////////////////// */
/* For styling Medical Records */
#mySidebar-patRecord {
    width: 250px;
    overflow: auto;
}

    #mySidebar-patRecord ul {
        font-size: 1rem;
    }

        #mySidebar-patRecord ul li:hover {
            background-color: #656565 !important;
        }

@media (max-width: 767px) {
    #mySidebar-patRecord {
        position: absolute;
        z-index: 2;
        transform: translateX(-100%);
        transition: .3s;
    }

        #mySidebar-patRecord:dir(RTL) {
            transform: translateX(100%);
        }
}

.internal-scroll {
    height: calc(100vh - 70px);
    overflow: auto;
}

.parent-record {
    gap: 1rem !important;
}

    .parent-record > div {
        width: 50%;
        display: flex;
        align-items: center;
    }

    .parent-record label {
        width: 140%;
        align-self: start;
    }

@media (max-width: 767px) {
    .parent-record > div {
        width: 100% !important;
    }

    .parent-record {
        gap: 0px !important;
    }
}
/* For styling Medical Records */

/* Style the PopUp */

/*
*, *::after, *::before {
    box-sizing: border-box;
}*/
.modal {
    font-family: "Rubik", sans-serif;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border-radius: 10px;
    z-index: 5;
    background-color: white;
    display: block;
    height: auto;
    width: 500px;
    max-width: 80%;
}

    .modal.active-popup {
        transform: translate(-50%, -50%) scale(1);
    }

.modal-header {
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
}

    .modal-header .title {
        font-size: 1.25rem;
        font-weight: 500;
    }

    .modal-header .close-button {
        cursor: pointer;
        border: none;
        outline: none;
        background: none;
        font-size: 2rem;
        font-weight: 300;
    }

.modal-body {
    padding: 30px 15px;
    font-weight: 300;
    font-size: 1.1rem;
}

.modal-footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px 15px;
    border-top: 1px solid #ccc;
}

#overlay {
    font-family: "Rubik", sans-serif;
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.5);
    pointer-events: none;
}

    #overlay.active-popup {
        opacity: 1;
        pointer-events: all;
    }
/* Style the PopUp */

/* For styling Permissions */

.parent-permission {
    gap: 1rem !important;
}

    .parent-permission > div {
        width: 50%;
        display: flex;
        align-items: center;
    }

    .parent-permission label {
        width: 50%;
    }

@media (max-width: 767px) {
    .parent-record > div {
        width: 100% !important;
    }

    .parent-record {
        gap: 0px !important;
    }
}
/* For styling Permissions */

/* For styling Permissions Forms */
.parent-permForm {
    gap: 1rem !important;
}

    .parent-permForm > div {
        display: flex;
        align-items: center;
    }

    .parent-permForm label {
        color: blue;
    }

@media (max-width: 767px) {
    .parent-permForm > div,
    .parent-permForm input:not([type="checkbox"]) {
        width: 100% !important;
    }

    .parent-permForm label {
        width: 140px !important;
    }
}

/* For styling Permissions Forms */

/* For styling Report treaturey Forms */
.filter-box {
    border: 1px solid grey;
    border-radius: 5px;
    padding: 10px 14px;
}
/* For styling Report treaturey  Forms */
