@model PatViewDTO
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Medical PatientDemographics";
    Layout = "_LayoutMedicalRecords";
}

<div class="text-center">
    <h1 class="display-4 mt-4"> Patient name : <span class="text-capitalize fw-bold">@Model?.PatName</span></h1>

    <a asp-action="AllPatients" asp-controller="PatRecord" class="btn btn-outline-success">Back To Search</a>
</div>

@* @section Scripts { *@
    @* LocalStorage *@
@*     <script>
        function saveToStorage(patID) {
            $.ajax({
                url: `/Medical/PatRecord/GetPatient/${patID}`,
                success: function (result) {
                    localStorage.setItem("Current-Patient", JSON.stringify(result))
                }
            });
        }
        saveToStorage(@Model.PatId);
    </script> *@
@* } *@
