@using ProSoft.UI.Global
@inject IViewLocalizer localizer

<div class="d-flex align-items-md-center flex-column flex-md-row justify-content-between mb-2 gap-2">
    <div>
        <h4 class="ms-2 my-1">@localizer["Search for patient.."]</h4>
    </div>
    <div class="w-50">
        <input type="text" class="form-control" id="searchInput" placeholder="@localizer["Search by ID, Name, or Mobile..."]">
    </div>
    <div>
        <a asp-controller="Patient" asp-action="Add_Patient" asp-route-redirect="Invoices" asp-route-controll="HospitalPatData" class="btn btn-sm btn-primary fs-6">
            @Html.Raw(GlobalConstants.InsertIcon) @localizer["Add New Patient"]
        </a>
    </div>
</div>