
<div class="table-container overflow-auto">
    <table class="table table-bordered table-hover patient-table" style="width:100%" data-parsley-validate="">
        <thead class="table-dark">
            <tr>
                <th class="align-middle">نوع الهوية</th>
                <th class="align-middle">الرقم القومي</th>
                <th class="align-middle">اسم المريض</th>
                <th class="align-middle">رقم الدخول</th>
                <th class="align-middle">تاريخ الدخول</th>
                <th class="align-middle">وقت الدخول</th>
                <th class="align-middle">تاريخ الميلاد</th>
                <th class="align-middle">العمر</th>
                <th class="align-middle">الحالة الاجتماعية</th>
                <th class="align-middle">نوع الجنس</th>
                <th class="align-middle">العنوان</th>
                <th class="align-middle">الوظيفة</th>
                <th class="align-middle">رقم الموبايل</th>
                <th class="align-middle">المستشفى</th>
                <th class="align-middle">الإدارة</th>
                <th class="align-middle">القطاع</th>
                <th class="align-middle">الإجراءات</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>
