@model EisPostingEditAddDTO
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Edit System Account";
    Layout = "_Layout";

    // Casting type to get all mainCodes as a list
    SelectList mainCodes = new SelectList(Model.MainCodes, "MainCode", "MainName");
    // Casting type to get all subCodes as a list
    SelectList subCodes = new SelectList(Model.SubCodes, "SubCode", "SubName");
}
@inject IViewLocalizer localizer

<div class="container pt-2">
    <h1 class="mt-4">@localizer["Edit System Account"] : @Model.ModuleN</h1>
    <form method="post" asp-action="Edit_SysAccount">
        <div class="border p-3 mt-4">

            @* Hidden Inputs *@
            <input asp-for="BranchId" type="hidden" />

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="parent d-flex align-items-md-end justify-content-center mb-3 gap-3 my-mobile ">
                <div>
                    <label asp-for="ModuleN"></label>
                    <input asp-for="ModuleN" class="form-control" />
                    <span asp-validation-for="ModuleN" class="text-danger"></span>
                </div>
                <div>
                    <label asp-for="MainCode"></label>
                    <select asp-for="MainCode" asp-items="mainCodes" class="form-control text-center" onchange="getSubCodes(event)">
                        <option value="">-- Choose --</option>
                    </select>
                    <span asp-validation-for="MainCode" class="text-danger"></span>
                </div>
            </div>

            <!------------------------------------------------------------------------------->

            <div class="parent d-flex align-items-md-end justify-content-center gap-3 my-mobile ">
                <div class="mb-3">
                    <label asp-for="SubCode"></label>
                    <select asp-for="SubCode" asp-items="subCodes" class="form-control text-center">
                        <option value="">-- Choose --</option>
                    </select>
                    <span asp-validation-for="SubCode" class="text-danger"></span>
                </div>
            </div>

            <!------------------------------------------------------------------------------->

            <div class="parent d-flex justify-content-md-center gap-2">
                <button type="submit" class="btn btn-success" style="width:150px">@localizer["Save Changes"]</button>
                <a asp-controller="EisPosting" asp-action="Index" class="btn btn-secondary" style="width:150px">
                    @localizer["Cancel"]
                </a>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    <script>
        function getSubCodes(e) {
            let mainCode = e.target.value;
            let subCode = document.getElementById("SubCode");
            subCode.innerHTML = `<option value="">-- Choose --</option>`;

            $.ajax({
                url: `/Shared/EisPosting/GetSubCodesFor/${mainCode}`,
                success: function (result) {
                    for (let item of result) {
                        subCode.innerHTML +=
                            `<option value="${item.subCode}">${item.subName}</option>`;
                    }
                }
            });
        }
    </script>
}
