@using ProSoft.UI.Global
@model List<PatViewDTO>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Invoices";
    Layout = "~/Views/Shared/_Layout.cshtml";
    SelectList mainList = new SelectList(ViewBag.MainClinics, "ClinicId", "ClinicDesc");
    ViewBag.PageTitle = "فواتير المستشفى";
}
@inject IViewLocalizer localizer




<div class="mx-3 pt-2" style="min-height:100vh;">
    <!-- Patient Search Section -->
    @*<partial name="Partials/_PatientSearchSection" />*@

    <div class="mb-1">
        <!-- Patient List Table -->
        <partial name="Partials/_PatientListTable" />
    </div>

    <div class="mb-1">
        <!-- Patient Admissions Section -->
        <partial name="Partials/_PatientAdmissionsSection" />
    </div>


    <div class="mb-1">
        <!-- Clinic Transactions Section -->
        <partial name="Partials/_ClinicTransactionsSection" />
    </div>


    <!-- Summary Totals -->
    <partial name="Partials/_SummaryTotals" />
</div>


<!-- Scripts -->
@*<script src="~/lib/jquery/dist/jquery.min.js"></script>*@
@*<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>*@


@section Scripts{
    <script src="~/js/Medical/HospitalPatData/Invoices/pat-list.js" asp-append-version="true"></script>
    <script src="~/js/Medical/HospitalPatData/Invoices/patient-search.js" asp-append-version="true"></script>
    <script src="~/js/Medical/HospitalPatData/Invoices/patient-admissions.js" asp-append-version="true"></script>
    <script src="~/js/Medical/HospitalPatData/Invoices/clinic-transactions.js" asp-append-version="true"></script>
    <script src="~/js/Medical/HospitalPatData/Invoices/dropdown-builders.js" asp-append-version="true"></script>
    <script src="~/js/Medical/HospitalPatData/Invoices/ajax-handlers.js" asp-append-version="true"></script>

}