@using ProSoft.UI.Global
@model List<PatViewDTO>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Invoices";
    Layout = "~/Views/Shared/_Layout.cshtml";
    SelectList mainList = new SelectList(ViewBag.MainClinics, "ClinicId", "ClinicDesc");
}
@inject IViewLocalizer localizer

<link rel="stylesheet" href="~/css/Invoices.css" asp-append-version="true" />

<div class="text-center">
    <h1 class="mb-2 mt-3">@localizer["Hospital Patient Data For Invoices"]</h1>
</div>

<div class="container pt-2" style="min-height:100vh;">
    <!-- Patient Search Section -->
    @*<partial name="Partials/_PatientSearchSection" />*@

    <!-- Patient List Table -->
    <partial name="Partials/_PatientListTable"  />

    <!-- Patient Admissions Section -->
    <partial name="Partials/_PatientAdmissionsSection" />

    <!-- Clinic Transactions Section -->
    <partial name="Partials/_ClinicTransactionsSection" />

    <!-- Summary Totals -->
    <partial name="Partials/_SummaryTotals" />
</div>


    <!-- Scripts -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/Medical/HospitalPatData/Invoices/pat-list.js" asp-append-version="true"></script>
    <script src="~/js/Medical/HospitalPatData/Invoices/patient-search.js" asp-append-version="true"></script>
    <script src="~/js/Medical/HospitalPatData/Invoices/patient-admissions.js" asp-append-version="true"></script>
    <script src="~/js/Medical/HospitalPatData/Invoices/clinic-transactions.js" asp-append-version="true"></script>
    <script src="~/js/Medical/HospitalPatData/Invoices/dropdown-builders.js" asp-append-version="true"></script>
    <script src="~/js/Medical/HospitalPatData/Invoices/ajax-handlers.js" asp-append-version="true"></script>

